<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap - css -->
    <link rel="stylesheet" type="text/css" href="../public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/assets/css/global.css">
    <link rel="stylesheet" type="text/css" href="../public/assets/css/reset.css">
    <link rel="icon" type="img" href="../public/assets/imgs/Root-icon.svg">
    <link rel="stylesheet" type="img" href="../public/assets/css/logo.css">
    <link rel="stylesheet" type="text/css" href="../public/assets/css/login.css">
    <title>Root - Recuperação de conta</title>
</head>
<body>
    
    <div class="container col-3 mt-5">
        <div class="form-control">
            <h1 class="h3 mb-3  font-weight-normal">Recuperação de conta</h1>
            <h6>Por favor, digite seu e-mail.</h6>
            <input type="email" id="emailAddress" class="form-control" placeholder="E-mail" required>
            <div class="row mt-3">
                <div class="col">
                    <a class="btn btn-primary btn-block" href="./login.html">Voltar</a>
                </div>
                <div class="col">
                    <button class="btn btn-primary btn-block">Entrar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../public/js/bootstrap.min.js" ></script>
    <script src="../public/js/jquery-3.6.1.min.js" ></script>
</body>
</html>