<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap - css -->
    <link rel="stylesheet" type="text/css" href="../public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/assets/css/global.css">
    <link rel="stylesheet" type="text/css" href="../public/assets/css/reset.css">
    <link rel="icon" type="img" href="../public/assets/imgs/Root-icon.svg">
    <link rel="stylesheet" type="img" href="../public/assets/css/logo.css">
    <link rel="stylesheet" type="text/css" href="../public/assets/css/login.css">
    <title>Root - Cadastre-se</title>
</head>
<body>
    
    <div class="container col-4 mt-5 ">
        <form class="form-control p-4">
            <h1 class="h3 text-center mb-3  font-weight-normal">Cadastre-se</h1>
                <div class="row mb-3">
                    <div class="col">
                        <input type="email" id="nome" class="form-control" placeholder="nome" required autofocus>
                    </div>
                    <div class="col">
                        <input type="email" id="sobrenome" class="form-control" placeholder="sobrenome" required autofocus>
                    </div>
                </div>
            <div class="mb-3">
                <input type="tel" id="tel" class="form-control" placeholder="celular" required autofocus>
            </div>
            <div class="mb-3">
                <input type="password" id="senha" placeholder="Nova senha" class="form-control" required>
            </div>
                <div class="row">
                    <small class="">Data de nascimento</small>
                  <div class="col">
                    <select class="form-select" aria-label="Default select example" name="dia" id="dia">
                        <option value="">01</option>
                        <option value="">02</option>
                        <option value="">03</option>
                        <option value="">04</option>
                        <option value="">05</option>
                        <option value="">06</option>
                        <option value="">07</option>
                        <option value="">08</option>
                        <option value="">09</option>
                        <option value="">10</option>
                        <option value="">11</option>
                        <option value="">12</option>
                        <option value="">13</option>
                        <option value="">14</option>
                        <option value="">15</option>
                        <option value="">16</option>
                        <option value="">17</option>
                        <option value="">18</option>
                        <option value="">19</option>
                        <option value="">20</option>
                        <option value="">21</option>
                        <option value="">22</option>
                        <option value="">23</option>
                        <option value="">24</option>
                        <option value="">25</option>
                        <option value="">26</option>
                        <option value="">27</option>
                        <option value="">28</option>
                        <option value="">29</option>
                        <option value="">30</option>
                        <option value="">31</option>
                    </select>
                  </div>
                  <div class="col">
                    <select class="form-select" aria-label="Default select example" name="mes" id="mes">
                        <option value="Janeiro">Janeiro</option>
                        <option value="Fevereiro">Fevereiro</option>
                        <option value="Março">Março</option>
                        <option value="Abril">Abril</option>
                        <option value="Maio">Maio</option>
                        <option value="Junho">Junho</option>
                        <option value="Julho">Julho</option>
                        <option value="Agosto">Agosto</option>
                        <option value="Setembro">Setembro</option>
                        <option value="Outubro">Outubro</option>
                        <option value="Novembro">Novembro</option>
                        <option value="Dezembro">Dezembro</option>
                    </select>
                  </div>
                  <div class="col mb-3">
                    <select class="form-select" aria-label="Default select example" name="ano" id="ano">
                        <option value="">2022</option>
                        <option value="">2021</option>
                        <option value="">2020</option>
                        <option value="">2019</option>
                        <option value="">2018</option>
                        <option value="">2017</option>
                        <option value="">2016</option>
                        <option value="">2015</option>
                        <option value="">2014</option>
                        <option value="">2013</option>
                        <option value="">2012</option>
                        <option value="">2011</option>
                        <option value="">2010</option>
                        <option value="">2009</option>
                        <option value="">2008</option>
                        <option value="">2007</option>
                        <option value="">2006</option>
                        <option value="">2005</option>
                        <option value="">2004</option>
                        <option value="">2003</option>
                        <option value="">2002</option>
                        <option value="">2001</option>
                        <option value="">2000</option>
                        <option value="">1999</option>
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                    <small>Gênero</small>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                        <label class="btn btn-outline-primary" for="btnradio1">Femenino</label>
                      
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">Masculino</label>
                      
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio3">Personalizado</label>
                      </div>
                </div>
                <div>
                    <small>As pessoas que usam nosso serviço podem ter carregado suas informações de contato no Root. <a href="">Saiba mais</a>. <br>
                        Ao clicar em Cadastre-se, você concorda com nossos Termos, <a href="">Política de Privacidade</a> e <a href="">Política de Cookies</a> . Você poderá receber notificações por SMS e cancelar isso quando quiser.</small>
                </div>
            <div class="text-center mt-3">
                <button class="btn btn-lg btn-danger btn-block">Cadastre-se</button>
            </div>
            <div class="text-center mt-2">
                <a href="../view/login.html">Ja tem conta? clique aqui.</a>
            </div>

        </form>
    </div>
    
    <script src="../public/js/bootstrap.min.js" ></script>
    <script src="../public/js/jquery-3.6.1.min.js" ></script>
</body>
</html>