<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap - css -->
    <link rel="stylesheet" type="text/css" href="../public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/assets/css/global.css">
    <link rel="stylesheet" type="text/css" href="../public/assets/css/reset.css">
    <link rel="icon" type="img" href="../public/assets/imgs/Root-icon.svg">
    <link rel="stylesheet" type="img" href="../public/assets/css/logo.css">
    <link rel="stylesheet" type="text/css" href="../public/assets/css/login.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css"/>
    <title>Root - Faça seu login</title>
</head>
<body>
    
    <form id="upload-form" class="dropzone">
        <!-- this is were the previews should be shown. -->
        <div class="previews"></div>
        
        <!-- Now setup your input fields -->
        <input type="email" name="username" />
        <input type="password" name="password" />
      
        <button type="submit">Submit data and files!</button>
      </form>
    
      
    <script src="../public/js/bootstrap.min.js" ></script>
    <script src="../public/js/jquery-3.6.1.min.js" ></script>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>

    <script>
        Dropzone.options.uploadForm = { uploadForm // The camelized version of the ID of the form element

// The configuration we've talked about above
autoProcessQueue: false,
uploadMultiple: true,
parallelUploads: 100,
maxFiles: 100,

// The setting up of the dropzone
init: function() {
  var myDropzone = this;

  // First change the button to actually tell Dropzone to process the queue.
  this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
    // Make sure that the form isn't actually being sent.
    e.preventDefault();
    e.stopPropagation();
    myDropzone.processQueue();
  });

  // Listen to the sendingmultiple event. In this case, it's the sendingmultiple event instead
  // of the sending event because uploadMultiple is set to true.
  this.on("sendingmultiple", function() {
    // Gets triggered when the form is actually being sent.
    // Hide the success button or the complete form.
  });
  this.on("successmultiple", function(files, response) {
    // Gets triggered when the files have successfully been sent.
    // Redirect user or notify of success.
  });
  this.on("errormultiple", function(files, response) {
    // Gets triggered when there was an error sending the files.
    // Maybe show form again, and notify user of error
  });
}

}
    </script>

</body>
</html>