<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap - css -->
    <link rel="stylesheet" type="text/css" href="../public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/assets/css/global.css">
    <link rel="stylesheet" type="text/css" href="../public/assets/css/reset.css">
    <link rel="icon" type="img" href="../public/assets/imgs/Root-icon.svg">
    <link rel="stylesheet" type="img" href="../public/assets/css/logo.css">
    <link rel="stylesheet" type="text/css" href="../public/assets/css/login.css">
    <title>Root - Faça seu login</title>
</head>
<body>
    <div class="container">
        <img src="../public/assets/imgs/Background-Root.jpg">
        <div class="row">
            <div class="col-12">
                <div class="container imagem_fundo text-center col-3 mt-5">

                    <form class="form-control p-4">
                        <h1 class="h3 mb-3  font-weight-normal">Conecte-se!</h1>
                        <div class="col mb-3">
                            <label class="mb-1" for="emailAddress" class="sr-only">E-mail:</label>
                            <input type="email" id="emailAddress" class="form-control" placeholder="Digite seu E-mail" required autofocus>
                        </div>
            
                       <div class="col">
                           <label class="mb-1" for="password" class="sr-only">Senha:</label>
                           <input type="password" id="senha" placeholder="Digite sua senha" class="form-control" required>
                       </div>
            
                       <div>
                        <a href="./recupera-conta.html">Esqueceu a senha?</a>
                       </div>
                       
                        <div class="checkbox mt-3">
                            <label>
                                <input type="checkbox" value="lembrar">Lembrar de mim
                            </label>
                        </div>
            
                        <div class="mt-3">
                            <button class="btn btn-lg btn-primary btn-block">Entrar</button>
                        </div>
            
                        <div class="mt-3">
                            <a href="./cadastro.html">Não tem conta? clique aqui.</a>
                        </div>
            
                    </form>
                </div>
            </div>
        </div>
    </div>
    

    <script src="../public/js/bootstrap.min.js" ></script>
    <script src="../public/js/jquery-3.6.1.min.js" ></script>
</body>
</html>